.flights {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flights__item {
    font-size: 32px;
    padding-bottom: 20px;
}

.flights__time {
    font-weight: 700;
}

.flights__city {
    font-weight: 500;
}

.flights__id {
    font-size: 26px;
}

.flights__status {
    font-size: 26px;
}