.menu {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    color: hsl(0, 100%, 100%);
}

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    font-size: 32px;
    font-weight: 500;
}

.menu__heading {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    padding-top: 5px;

    font-size: 32px;
    font-weight: 400;
    margin-right: 20px;
}

.menu__item {
    margin-right: 20px;
}

.menu__item a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.menu__item a:hover,
.menu__item a:focus {
    color: hsl(0, 100%, 50%);
}

.menu__item_active {
    text-decoration: underline;
}