.search__input {
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  outline: none;

  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 100%, 0.3);

  font-family: inherit;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.search__input:focus {
  box-shadow: 0 0 15px hsl(0, 0%, 100%);
}

.search__submit {
  font-family: inherit;
  font-size: 32px;

  color: hsl(0, 0%, 100%);
  background-color: transparent;
  outline: none;

  border: 2px solid hsl(0, 100%, 100%);
  border-radius: 5px;

  padding-top: 0;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
}

.search__submit:hover,
.search__submit:focus {
  box-shadow: 0 0 15px hsl(0, 0%, 100%);
}

.search__subheading {
  margin: 0;
  width: 100%;

  font-size: 20px;
  color: hsla(0, 0%, 100%, 0.7);
}
